<body>
    <div class="split-screen">
        <div class="left-side">
            <section class="copy text-center">
                <h2>Willkommen bei</h2>
                <h1>LEGO</h1>
                <div class="logo-container">
                    <img src="assets/images/lego-kiste-logo.png" width="300" height="300">
                </div>
            </section>
        </div>
        <div class="right-side">
            <h2>Login</h2>
            <form (ngSubmit)="loginMockup()">
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input type="text" class="form-control" id="username" placeholder="Benutzername" name="username" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Passwort</label>
                    <input type="password" class="form-control" id="password" placeholder="Passwort" name="password" [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary">Anmelden</button>
            </form>
        </div>
    </div>
</body>
