<body>
    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h2>Willkommen bei</h2>
                <h1>LEGO</h1>
                <div class="logo-container">
                    <img src="assets/images/lego-kiste-logo.png" width="300" height="300">
                </div>
            </section>
        </div>
        <div class="right">
            <form action="">
                <h2>Login</h2>
                <div class="input-container username">
                    <label for="username">Benutzername</label>
                    <input id="username" name="username" type="text">
                </div>
                <div class="input-container password">
                    <label for="password">Passwort</label>
                    <input id="password" name="password" type="text">
                </div>
                <button class="signup-btn" type="submit">Einloggen</button>
            </form>
        </div>
    </div>
</body>
